.modal {
  display: block;
  visibility: hidden;
  position: fixed;
}

.modal-show {
  visibility: visible;
  background-color: rgba(237, 237, 237, 0.5);
  transition: opacity 0.2s linear;
}

.modal-content {
  opacity: 0;
  padding-bottom: 20px;
}

.modal-show .modal-content {
  opacity: 1;
  transition: 0.2s linear;
}

.modal-header {
  margin-left: auto;
}
