nav {
    background-color: black;
    font-size: 18pt;
    font-family: Arial;
    margin-bottom: 1em;
  }
  nav a {
    color: white;
    padding: .5em;
    text-decoration: none;
  }
  
  nav a.active {
    color: cyan;
  }