nav {
    background-color: rgb(209, 209, 209);
    font-size: 18pt;
    font-family: Arial;
    margin-bottom: 1em;
  }
  nav a {
    color: white;
    padding: .5em;
    text-decoration: none;
  }
  
  nav a.active {
    color: rgb(0, 119, 255);
  }