.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reminders-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* additional styles for background, padding, etc. */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.feed {
  /* Add styles here to control the scrolling behavior of the feed */
  max-height: calc(100vh - 150px); /* Adjust the value 150px based on your header/footer size */
  overflow-y: auto; /* This will allow the feed to scroll */
}

.prompt-item {
  border: 1px solid red; /* This will make the prompt items visible */
}
