.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reminders-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* additional styles for background, padding, etc. */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button styles */
button {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

/* Specific styles for each type of button */
.yes-button {
  background-color: #4CAF50; /* Green */
}

.no-button {
  background-color: #f44336; /* Red */
}

.maybe-button {
  background-color: #ffeb3b; /* Yellow */
}

/* Prompt item styles */
.prompt-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 1em;
  padding: 1em;
}

/* Feed container styles */
.feed {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}
